<?xml version="1.0"?> 

<!-- 
<param name="/use_sim_time" value="true" />

This node allows for selecting bag file while launching, usage - roslaunch ORB_SLAM3 offline_stereo.launch bag_filename:=/home/vortex/bagfiles/spy_and_qr.bag
<node pkg="rosbag" type="play" name="rosbag" required="true" args="$(arg bag_filename)"/> 
--> 

<launch>     
    <!-- Decompresser -->
    <node name="republisher" type="republish" pkg="image_transport" respawn="true"  output="screen" 
args="compressed in:=/zed2/zed_node/left/image_rect_color raw out:=/camera/left/image_raw"/> 

    <node name="republisher2" type="republish" pkg="image_transport" respawn="true" output="screen" 
args="compressed in:=/zed2/zed_node/right/image_rect_color raw out:=/camera/right/image_raw"/> 


  <!-- Run ORB_SLAM3 Stereo node -->
  <node pkg="ORB_SLAM3" type="Stereo" name="ORB_SLAM3_stereo" output="screen"
 args="/$(env HOME)/SLAM/ORB_SLAM3/Vocabulary/ORBvoc.txt /$(env HOME)/SLAM/ORB_SLAM3/Examples/Stereo/EuRoC.yaml true">
  </node>


</launch>
