<?xml version="1.0"?> 

<!--
<remap from="/zed2/zed_node/left/image_rect_color"  to="$/camera/left/image_raw" />
    <remap from="/zed2/zed_node/right/image_rect_color"  to="/camera/left/image_raw" />
-->
<launch>     
    <!--Remaps the topics -->
    <remap from="/zed2/zed_node/left_raw/image_raw_color"  to="/camera/left/image_raw" />
    <remap from="/zed2/zed_node/right_raw/image_raw_color"  to="/camera/left/image_raw" />
   

  <!-- Start ORB_SLAM3 and ros wrapper -->
  <node pkg="ORB_SLAM3" type="Stereo" name="ORB_SLAM3_node" output="screen"
 args="/$(env HOME)/SLAM/ORB_SLAM3/Vocabulary/ORBvoc.txt /$(env HOME)/SLAM/ORB_SLAM3/Examples/Stereo/EuRoC.yaml true">
  </node>


</launch>
